@import url("https://fonts.googleapis.com/css2?family=Sora:wght@400;700&display=swap");

body {
  font-family: "Sora", sans-serif;
  line-height: 1.7;
}
.home-footer {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
