@import url("https://fonts.googleapis.com/css2?family=Sora:wght@400;700&display=swap");

body {
  font-family: "Sora", sans-serif;
  line-height: 1.7;
}
.home-footer {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.home-icon {
  width: 24px;
  height: 24px;
  fill: white;
}
.home-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.home-sidebar {
  width: 256px;
  height: 787px;
  display: flex;
  padding: var(--dl-space-space-twounits);
  align-self: flex-start;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--dl-color-gray-900);
}
.home-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-image {
  height: 2rem;
  margin-bottom: var(--dl-space-space-threeunits);
}
.home-text {
  color: var(--dl-color-gray-white);
  align-self: flex-start;
  margin-bottom: var(--dl-space-space-threeunits);
  background-color: var(--dl-color-gray-500);
}
.home-text1 {
  color: var(--dl-color-gray-white);
  margin-bottom: var(--dl-space-space-threeunits);
  background-color: var(--dl-color-gray-500);
}
.home-text2 {
  margin-bottom: var(--dl-space-space-threeunits);
}
